@import "./fonts.scss";
@import "./mui.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: SFProDisplay-Regular -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--tg-theme-bg-color);
  font-weight: 300;
}

a {
  color: var(--tg-theme-link-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--tg-theme-text-color);
  box-shadow: none !important;
}

:root {
  --red: #e84349;
}

[page*="filter"],
[page*="add"] {
  background: var(--tg-theme-secondary-bg-color);
  .MuiContainer-root {
    background: var(--tg-theme-secondary-bg-color);
  }
}
