.MuiButton-root {
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    border-radius: 16px;
    text-transform: none;
}

.MuiContainer-root {
    background: var(--tg-theme-secondary-bg-color);
}

.MuiCard-root {
    border-radius: 16px !important;
    background: none !important;
}

.MuiCardContent-root,
.MuiCardActions-root {
    background: var(--tg-theme-bg-color);
}

.MuiTypography-caption {
    color: var(--tg-theme-hint-color);
}

.MuiDivider-root {
    border-color: #24303f !important;
}
